@font-face {
  font-family: 'NexaBold';
  src: url('./assets/fonts/Nexa-Bold.otf');
}
@font-face {
  font-family: 'NexaRegular';
  src: url('./assets/fonts/Nexa-Regular.otf');
}
@font-face {
  font-family: 'NexaLight';
  src: url('./assets/fonts/Nexa-Light.otf');
}
.nexaBold{
  font-family: 'NexaBold';
}
body, html  {
  margin: 0;
  box-sizing: border-box;
  background-color: "#112835";
  font-family: "NexaBold";

  overflow-x: hidden!important;
  line-height: 1.2;
  width: 100vw;
  height: 100%;

 
}
.text-blue{
  color: rgb(56, 162, 220);
}
.navhover p:hover{
  color:#000 !important;
}


.custom-dot-list-style{
  background-color:#112835;
  width: 100%;
  height:50px;
}
.react-multi-carousel-dot {
 margin-top:20px;
}
.react-multiple-carousel__arrow{
  display: none;
}

.listofdot{
  margin-top: 500px;
}
.owl-theme .owl-dots .owl-dot{

  margin-top:10px ;
  display: block;

  transition: opacity 200ms ease;
  border-radius: 30px
}
.owl-theme .owl-dots .owl-dot span{

  background: #8185f4;
  display: block;

  transition: opacity 200ms ease;
  border-radius: 30px
}
/* .nav-link {
  text-decoration: none;
  background-color: white;
  color: #0E1333;
 
}

.nav-link:hover, .active:hover {
 color: black;
 background-color: #010102;
}

.active {
  color: #010102;

  
}
 */
